//
//  staging.xcconfig
//  Runner
//
//  Created by phan.duong.ngoc on 03/07/2024.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Generated.xcconfig"
#include "Pods/Target Support Files/Pods-Runner/Pods-Runner.staging.xcconfig"

DART_DEFINES=RkxBVk9SPXN0YWdpbmc= // FLAVOR=staging
APP_NAME=[STAGING]
APP_BUNDLE_ID=com.baseFlutter.staging
